<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bloodbagbb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/blood"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize|stateHidden|adjustPan"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.CheckFeedBackActivity"></activity>
        <activity android:name=".Activity.AboutUsActivity" />
        <activity android:name=".Activity.AdminActivity" />
        <activity android:name=".Activity.FeedBackActivity" />
        <activity android:name=".Activity.NeedToKnowActivity" />
        <activity android:name=".Activity.WhyDonateBloodActivity" />
        <activity android:name=".Activity.AddHistoryActivity" />
        <activity android:name=".Activity.RequestFormActivity" />
        <activity android:name=".Activity.CommunicationActivity" />
        <activity android:name=".Activity.FragmentMenuActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.SignInActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>